﻿<div class="row pagesBackground">
    <div class="col-lg-12">
        <div class="row overviewHeaderBackground">
            <div class="col-lg-1 marginTop1Per">
                <img src="Image/Common/Logo.png" style="height: 12vh" />
            </div>
            <div class="col-lg-9 text-center marginTop3Per">
                <span class="headerTitleText margin5perLeft" data-bind="text:languageSpecification().comman.nationalMarnieKey"></span>
            </div>
            <div class="col-lg-2 marginTop1Per">
                <img src="Image/Common/rightTopLogo.png" class="img-responsive center-block" style="height:13vh;" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 lineColorImage">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 weatherBg">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-12 height10px"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="headerSubTitleText letterSpacing5px" data-bind="text:languageSpecification().comman.thingToDoYourSanctKey"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 height10px"></div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row marginTop25px">
            <div class="col-lg-9">
                <div class="col-lg-1"></div>
                <div class="col-lg-11">
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="photoGalleryPageMainheadingText verticleAlignMiddle" data-bind="text:languageSpecification().rightSideButtons.sanctuaryVisitorCenterKey"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table cellspacing="10">
                                <tr>
                                    <th>
                                        <br />
                                        <span class="descriptionText" data-bind="html:mainHeading()"></span>
                                    </th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row" style="margin-top:2%;">
                                <div class=" col-lg-6">
                                    <div class="row">
                                        <div class=" col-lg-12 descriptionText">
                                            <span data-bind="html:description()">
                                            </span><br /><br /><br />
                                            <span data-bind="html:whereText()"></span><br />
                                            <span data-bind="html:costText()"></span><br />
                                            <span data-bind="html:hourText()"></span>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:3%;">
                                        <div class=" col-lg-12">
                                            <!--ko if: isShowNextButton()==false-->
                                            <button type="button" class="btn-next btn-lg" data-bind="click:$root.setSanctuaryVisitorCenPageContent">
                                                <span data-bind="text:languageSpecification().comman.nextKey"></span>
                                            </button>
                                            <!--/ko-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 text-center">
                                    <img class="fishingImgCSS" data-bind="attr:{src: imagePath()}" height="480" width="400" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-right">
                <div class="row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-10 paddingLeft0 rightButtonsBorder">
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'ThingToDoOverview','user click on overview on sanctuary visitor ceter page')">
                                        <span data-bind="text:languageSpecification().comman.overviewKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon ">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'SanctuaryExploCen','user click on sanctuary exploration center on sanctuary visitor ceter page')">
                                        <span data-bind="text:languageSpecification().rightSideButtons.santuaryExpoCenterKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'Recreation','user click on recreation on sanctuary visitor ceter page')">
                                        <span data-bind="text:languageSpecification().rightSideButtons.recreationKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'WildLifeView','user click on wildlife viewing on sanctuary visitor ceter page')">
                                        <span data-bind="text:languageSpecification().rightSideButtons.wildLifeViewKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon ">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'WildLifeViewGuildLine','user click on wildlife viewing guildline on sanctuary visitor ceter page')">
                                        <span data-bind="text:languageSpecification().rightSideButtons.windLifeGuildlineKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'SanctuaryVisitorCen','user click on sanctuary visitor centers on sanctuary visitor centers page'),enable:false">
                                        <span class="rightBtnSelectedText" data-bind="text:languageSpecification().rightSideButtons.sanctuaryVisitorCenterKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon selectedBtnIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="bottomBtnBackground">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground backBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'Attract','user click on back on sanctuary visitor ceter page')">
                                        <span class="rightBackBtnText" data-bind="text:languageSpecification().rightSideButtons.backBtnKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:5px;">
            <div class="col-lg-12 footer">
                <div class="row">
                    <div class="col-lg-12 lineColorImage">
                    </div>
                </div>
                <div class="row footerBackground">
                    <div class="col-lg-12">
                        <table align="center">
                            <tr>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'OverviewMonterey','user click on montery bay national marine sanctuary on sanctuary visitor centers page')">
                                        <span class="footerBtnText"><span data-bind="text:languageSpecification().comman.montereryBayButtonKey"></span></span>
                                    </button>
                                </td>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'ThingToDoOverview','user click on noaa weather on sanctuary visitor centers page'),enable:false">
                                        <span class="footerBtnText selectedFooterBtn"><span data-bind="text:languageSpecification().comman.thingToDoButtonKey"></span></span>
                                    </button>
                                </td>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'WeatherOverview','user click on weather overview on sanctuary vistior center page')">
                                        <span class="footerBtnText"><span data-bind="text:languageSpecification().comman.weatherButtonKey"></span></span>
                                    </button>
                                </td>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'KidsCornerOverview','user click on kids corner on sanctuary visitor centers page')">
                                        <span class="footerBtnText"><span data-bind="text:languageSpecification().comman.kidsCornerButtonKey"></span></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
