﻿<div class="row pagesBackground">
    <div class="col-lg-12">
        <div class="row overviewHeaderBackground">
            <div class="col-lg-1 marginTop1Per">
                <img src="Image/Common/Logo.png" style="height: 12vh" />
            </div>
            <div class="col-lg-9 text-center marginTop3Per">
                <span class="headerTitleText margin5perLeft" data-bind="text:languageSpecification().comman.nationalMarnieKey"></span>
            </div>
            <div class="col-lg-2 marginTop1Per">
                <img src="Image/Common/rightTopLogo.png" class="img-responsive center-block" style="height:13vh;" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 lineColorImage">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 weatherBg">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-12 marginTopBottom10px">
                            <span class="headerSubTitleText letterSpacing5px" data-bind="text:languageSpecification().comman.urNationalMarineSanctKey"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row marginTop25px">
            <div class="col-lg-9">
                <div class="col-lg-1"></div>
                <div class="col-lg-11">
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="headingText verticleAlignMiddle" data-bind="html:languageSpecification().aboutYourSanPage.titleKey"></span>
                        </div>
                    </div>
                    <div class="row marginTop20px">
                        <div class="col-lg-12">
                            <div class="row eight-cols" style="margin-top:1%;">
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <button class="aboutYourBackground" data-bind="click: setAboutYourSanPageContent.bind($data,1)">
                                                <span data-bind="text:languageSpecification().aboutUrSacuturiesPage.oneKey">
                                                </span>
                                            </button>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <button class="aboutYourBackground" data-bind="click: setAboutYourSanPageContent.bind($data,2)">
                                                <span data-bind="text:languageSpecification().aboutUrSacuturiesPage.twoKey">
                                                </span>
                                            </button>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <button class="aboutYourBackground" data-bind="click: setAboutYourSanPageContent.bind($data,3)">
                                                <span data-bind="text:languageSpecification().aboutUrSacuturiesPage.threeKey">
                                                </span>
                                            </button>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <button class="aboutYourBackground" data-bind="click: setAboutYourSanPageContent.bind($data,4)">
                                                <span data-bind="text:languageSpecification().aboutUrSacuturiesPage.fourKey">
                                                </span>
                                            </button>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <button class="aboutYourBackground" data-bind="click: setAboutYourSanPageContent.bind($data,5)">
                                                <span data-bind="text:languageSpecification().aboutUrSacuturiesPage.fiveKey">
                                                </span>
                                            </button>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <button class="aboutYourBackground" data-bind="click: setAboutYourSanPageContent.bind($data,6)">
                                                <span data-bind="text:languageSpecification().aboutUrSacuturiesPage.sixKey">
                                                </span>
                                            </button>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <button class="aboutYourBackground" data-bind="click: setAboutYourSanPageContent.bind($data,7)">
                                                <span data-bind="text:languageSpecification().aboutUrSacuturiesPage.sevenKey">
                                                </span>
                                            </button>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <button class="aboutYourBackground" data-bind="click: setAboutYourSanPageContent.bind($data,8)">
                                                <span data-bind="text:languageSpecification().aboutUrSacuturiesPage.eightKey">
                                                </span>
                                            </button>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="height:450px;">
                                <!--ko if:(selectedVideo()=="" && checkAbtData()==true)-->
                                <div class="col-lg-12 aboutSanNumbersDiv">
                                    <div class=" row">
                                        <div class="col-lg-12 text-center">
                                            <table class="contentTable">
                                                <tr style="vertical-align:top;">
                                                    <td align="right" width="30%">

                                                        <span class="aboutUrSanMainHeading" data-bind="html:leftMainHeading()"></span><br />
                                                        <span class="aboutUrSanSubHeading" data-bind="html:leftSubHeading()"></span>

                                                    </td>
                                                    <td width="2%">
                                                        <img data-bind="attr:{src:abtImage}" style="height: 12vh;" />
                                                    </td>
                                                    <td align="left" width="30%">

                                                        <span class="aboutUrSanMainHeading" data-bind="html:rightMainHeading()"></span><br />
                                                        <span class="aboutUrSanSubHeading" data-bind="html:rightSubHeading()"></span>

                                                    </td>
                                                    <td>
                                                        <span style="margin-right: 27%; font-size: 16px;cursor:pointer;" data-bind="click: closeAbtYourSanWindow.bind()">Close</span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 text-center aboutUrSanMainHeading">
                                            <span data-bind="text:$root.subMainHeading()"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 text-center abutUrSanDescText">
                                            <span data-bind="html:$root.abtDescription()"></span>
                                        </div>
                                    </div>
                                </div>
                                <!--/ko-->
                                <!--ko if:(checkAbtData()==false && selectedVideo()=="")-->
                                <div class="col-lg-12">
                                    <img src="Image/visitingYourSanctuary/p0.png" class="setIntroImageOnAbtUrSanPage" />
                                </div>
                                <!--/ko-->

                            </div>
                            <div class="row eight-cols" style="margin-bottom:1%;">
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <button class="aboutYourBackground" data-bind="click: setAboutYourSanPageContent.bind($data,9)">
                                                <span data-bind="text:languageSpecification().aboutUrSacuturiesPage.nineKey">
                                                </span>
                                            </button>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <button class="aboutYourBackground" data-bind="click: setAboutYourSanPageContent.bind($data,10)">
                                                <span data-bind="text:languageSpecification().aboutUrSacuturiesPage.tenKey">
                                                </span>
                                            </button>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <button class="aboutYourBackground" data-bind="click: setAboutYourSanPageContent.bind($data,11)">
                                                <span data-bind="text:languageSpecification().aboutUrSacuturiesPage.elevenKey">
                                                </span>
                                            </button>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <button class="aboutYourBackground" data-bind="click: setAboutYourSanPageContent.bind($data,12)">
                                                <span data-bind="text:languageSpecification().aboutUrSacuturiesPage.twelveKey">
                                                </span>
                                            </button>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <button class="aboutYourBackground" data-bind="click: setAboutYourSanPageContent.bind($data,13)">
                                                <span data-bind="text:languageSpecification().aboutUrSacuturiesPage.thirteenKey">
                                                </span>
                                            </button>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <button class="aboutYourBackground" data-bind="click: setAboutYourSanPageContent.bind($data,14)">
                                                <span data-bind="text:languageSpecification().aboutUrSacuturiesPage.fourteenKey">
                                                </span>
                                            </button>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <button class="aboutYourBackground" data-bind="click: setAboutYourSanPageContent.bind($data,15)">
                                                <span class="" data-bind="text:languageSpecification().aboutUrSacuturiesPage.fifteenKey">
                                                </span>
                                            </button>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <button class="aboutYourBackground" data-bind="click: setAboutYourSanPageContent.bind($data,16)">
                                                <span data-bind="text:languageSpecification().aboutUrSacuturiesPage.sixteenKey">
                                                </span>
                                            </button>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-right">
                <div class="row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-10 paddingLeft0 rightButtonsBorder">
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'YourNationalMaSanctOverview','user click on overview on visiting your sanctuaries page')">
                                        <span data-bind="text:languageSpecification().comman.overviewKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'VisitingYourSanctuary','user click on visiting your sanctuaries on visiting your sanctuaries page'),enable:false">
                                        <span class="rightBtnSelectedText" data-bind="text:languageSpecification().rightSideButtons.visitingYourSanctuaryKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon selectedBtnIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'MaritimeHeritage','user click on maritime heritage on visiting your sanctuaries page')">
                                        <span class="" data-bind="text:languageSpecification().rightSideButtons.maritimeHeritageKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'GetInvolved','user click on get involved on visiting your sanctuaries page')">
                                        <span class="rightBtnText" data-bind="text:languageSpecification().rightSideButtons.getInvolvedKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon ">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'VideoGallery','user click on video gallery on visiting your sanctuaries page')">
                                        <span class="rightBtnText" data-bind="text:languageSpecification().rightSideButtons.videoGalleryKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click: playExternalLink.bind($data,commanUrlText.visitSite)">
                                        <span data-bind="text:languageSpecification().rightSideButtons.visiteSiteKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="bottomBtnBackground">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground backBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'OverviewMonterey','user click on back on visiting your sanctuaries page')">
                                        <span class="rightBackBtnText" data-bind="text:languageSpecification().rightSideButtons.backBtnKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:5px;">
            <div class="col-lg-12 footer">
                <div class="row">
                    <div class="col-lg-12 lineColorImage">
                    </div>
                </div>
                <div class="row footerBackground">
                    <div class="col-lg-12">
                        <table align="center">
                            <tr>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'OverviewMonterey','user click on montery bay national marine sanctuary on visiting your sanctuaries page'),enable:false">
                                        <span class="footerBtnText selectedFooterBtn"><span data-bind="text:languageSpecification().comman.montereryBayButtonKey"></span></span>
                                    </button>
                                </td>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'ThingToDoOverview','user click on things to do your sanctuary on visiting your sanctuaries page')">
                                        <span class="footerBtnText"><span data-bind="text:languageSpecification().comman.thingToDoButtonKey"></span></span>
                                    </button>
                                </td>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'WeatherOverview','user click on weather overview on visiting your sanctuaries page')">
                                        <span class="footerBtnText"><span data-bind="text:languageSpecification().comman.weatherButtonKey"></span></span>
                                    </button>
                                </td>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'KidsCornerOverview','user click on kids corner on visiting your sanctuaries page')">
                                        <span class="footerBtnText"><span data-bind="text:languageSpecification().comman.kidsCornerButtonKey"></span></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
