﻿<div class="fullscreen-bg" style="cursor:pointer;" data-bind="click:$root.showMenuButton.bind()">
    <video id="introAtractVideo"  muted loop src="VideoGallery/IntroAttract.mov" class="fullscreen-bg__video">
        <source id="src1" type="video/mp4" />
    </video>
</div>
<div id="attractPageDiv" class="row" style="cursor:pointer;" data-bind="click:$root.showMenuButton.bind()">
    <div class="col-lg-12">
        <div class="row headerBackground">
            <div class="col-lg-1 marginTop1Per">
                <img src="Image/Common/Logo.png" style="height: 12vh" />
            </div>
            <div class="col-lg-9 text-center marginTop3Per">
                <span class="headerTitleText margin5perLeft" data-bind="text:languageSpecification().comman.nationalMarnieKey"></span>
            </div>
            <div class="col-lg-2 marginTop1Per">
                <img src="Image/Common/rightTopLogo.png" class="img-responsive center-block" style="height:13vh;" />
            </div>
        </div>
        <div class="row marginTop16per">
            <div class="col-lg-12 paddingLeftRight0">
                <button type="button" class="attractPageBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'OverviewMonterey','user click on monterey bay national marine sancturary on attract page'),visible:mainBtnFlag">
                    <span class="attractPageBtnText" data-bind="text:languageSpecification().attractPage.monteryBayKey"></span>
                </button>
            </div>
        </div>
        <div class="row marginTop20px">
            <div class="col-lg-12 paddingLeftRight0">
                <button type="button" class="attractPageBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'ThingToDoOverview','user click on things to do in your sanctuary on attract page'),visible:mainBtnFlag">
                    <span class="attractPageBtnText" data-bind="text:languageSpecification().attractPage.thingsToDoKey"></span>
                </button>
            </div>
        </div>
        <div class="row marginTop20px">
            <div class="col-lg-12 paddingLeftRight0">
                <button type="button" class="attractPageBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'WeatherOverview','user click on weather overview on attract page'),visible:mainBtnFlag">
                    <span class="attractPageBtnText" data-bind="text:languageSpecification().attractPage.noaaWeatherKey"></span>
                </button>
            </div>
        </div>
        <div class="row marginTop20px">
            <div class="col-lg-12 paddingLeftRight0">
                <button type="button" class="attractPageBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'KidsCornerOverview','user click on kids corner on attract page'),visible:mainBtnFlag">
                    <span class="attractPageBtnText" data-bind="text:languageSpecification().attractPage.kidsCornerKey"></span>
                </button>
            </div>
        </div>

    </div>
</div>
<div class="row footerBackground footer" style="z-index:9999;">
            <div class="row marginTopBottom10px">
                <div class="col-lg-12">
                    <div class="col-lg-12 text-center">
                <!--ko if: mainBtnFlag()==false-->
                <table style="cursor:pointer; width:100%" data-bind="click:$root.showMenuButton.bind()">
                    <tr>
                        <td style="width:95%">
                            <div class="attractPageBtnText attarctPageBottomText" style="cursor:pointer;" data-bind="text:languageSpecification().attractPage.touchbottonKey"></div>
                        </td>
                        <td style="width:5%;">
                            <button style="float:right;" type="button" class="attractPageBtnBottom" data-bind="click:$root.commanSetPagefun.bind($data,'ProductionCredits','user click on credit on attract page'),visible:false">
                                <span class="attractPageBtnText attarctPageBtnCrdeitsText" data-bind="text:languageSpecification().attractPage.creditsKey"></span>
                            </button>
                        </td>
                    </tr>
                </table>
                <!--/ko-->
                <!--ko if: mainBtnFlag()==true-->
                <table style="width:100%;">
                    <tr>
                        <td style="width:95%">
                            <div class="attractPageBtnText attarctPageBottomText" style="cursor:pointer;" data-bind="text:languageSpecification().attractPage.touchbottonKey"></div>
                        </td>
                        <td style="width:5%;">
                        <button style="float:right;" type="button" class="attractPageBtnBottom" data-bind="click:$root.commanSetPagefun.bind($data,'ProductionCredits','user click on credit on attract page')">
                            <span class="attractPageBtnText attarctPageBtnCrdeitsText" data-bind="text:languageSpecification().attractPage.creditsKey"></span>
                        </button>
                        </td>
                    </tr>
                </table>
                <!--/ko-->
            </div>
        </div>
    </div>
</div>