﻿<div class="row pagesBackground">
    <div class="col-lg-12">
        <div class="row overviewHeaderBackground">
            <div class="col-lg-1 marginTop1Per">
                <img src="Image/Common/Logo.png" style="height: 12vh" />
            </div>
            <div class="col-lg-9 text-center marginTop3Per">
                <span class="headerTitleText margin5perLeft" data-bind="text:languageSpecification().comman.nationalMarnieKey"></span>
            </div>
            <div class="col-lg-2 marginTop1Per">
                <img src="Image/Common/rightTopLogo.png" class="img-responsive center-block" style="height:13vh;" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 lineColorImage">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 weatherBg">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-12 height10px"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="headerSubTitleText letterSpacing5px" data-bind="text:languageSpecification().comman.kidsCornerKey"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 height10px"></div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-12 height10px"></div>
        </div>
        <div class="row marginTop25px">
            <div class="col-lg-9">
                <div class="col-lg-1"></div>
                <div class="col-lg-11">
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="headingText verticleAlignMiddle" data-bind="text:languageSpecification().comman.overviewKey"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <br />
                            <span class="descriptionText verticleAlignMiddle" data-bind="html:languageSpecification().kidsCornerOverviewPage.discriptionKey"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 ">
                            <div class="row" style="margin-top:2%;">
                                <div class="col-lg-12 paddingLeftRight0">
                                    <!--ko if:(selectedVideo()!="")-->
                                    <div style="text-align:left;margin-left:10%; max-height:400px; max-width:80%; min-height:400px; min-width:80%; position:relative;">
                                        <video id="videoGallery" data-bind="attr:{src: selectedVideo()}" style="width:100%; position:absolute;">
                                            <source id="src1" type="video/mov" />
                                        </video>
                                    </div>
                                    <!--/ko-->
                                    <!--ko if:(selectedVideo()=="")-->
                                    <div data-bind="event: { mousedown: $root.addPageTimer() }" style="cursor: pointer; margin-left: 10%;">
                                        <img src="Image/kidscorner/kidsCornerOverview.png" class="" />
                                    </div>
                                    <!--/ko-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-right" style="margin-top:-1%;">
                <div class="row">
                    <div class="col-lg-12">
                        <span class="headingText verticleAlignM iddle" style="margin-left:71px" data-bind="html:languageSpecification().comman.activitiesKey"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center" style="margin-top:10px;">
                        <div class="activityLabel3And4">
                            <span class="descriptionText" style="font-size:16px;" data-bind="html:languageSpecification().kidsCornerOverviewPage.marineDebrisKey"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center" style="margin-top:2px;">
                        <img src="Image/kidscorner/marineDebris.png" class="fishActivityImg" style="cursor: pointer;" data-bind="click: playSelectedVideo.bind($data,'VideoGallery/marinedeb.mov',0)" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center" style="margin-top:10px;">
                        <div class="activityLabel2">
                            <div style="margin-top:9px;">
                                <span class="descriptionText" style="font-size:16px;" data-bind="html:languageSpecification().kidsCornerOverviewPage.killerWhales101Key"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center" style="margin-top:2px;">
                        <img src="Image/kidscorner/killerwhales.png" style="width:51%;cursor:pointer;" data-bind="click: $root.addPageTimer(), click: playSelectedVideo.bind($data,'VideoGallery/dayInLife.mp4',1)" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center" style="margin-top:10px;">
                        <div class="activityLabel3And4" style="line-height:20px;">
                            <span class="descriptionText" style="font-size:16px;" data-bind="html:languageSpecification().kidsCornerOverviewPage.dayintheLifeKey"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center" style="margin-top:2px;">
                        <img src="Image/kidscorner/dayinlife.png" style="width:51%;cursor:pointer;" data-bind="click: playSelectedVideo.bind($data,'VideoGallery/killerWhales.mp4',2)" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center" style="margin-top:10px;">
                        <div class="activityLabel3And4">
                            <span class="descriptionText" style="font-size:16px;" data-bind="html:languageSpecification().kidsCornerOverviewPage.thankuOceanKey"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center" style="margin-top:2px;">
                        <img src="Image/kidscorner/thankYouOcean.png" style="width:51%;cursor:pointer;" data-bind="click: playSelectedVideo.bind($data,'VideoGallery/thankyouocean.mov',0)" />
                    </div>
                </div>
                <div class="row" style="margin-top:2%;">
                    <div class=" col-lg-2">
                    </div>
                    <div class="col-lg-10 paddingLeft0 rightButtonsBorder">
                        <div class="row marginTopBottom5px">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground backBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'Attract','user click on back on kids corner page')">
                                        <span class="rightBackBtnText" data-bind="text:languageSpecification().rightSideButtons.backBtnKey"></span>
                                    </button>
                                </div>
                                <div class="backButtonArrow">
                                    <span class="glyphicon glyphicon-arrow-left arrowSize"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:5px;">
            <div class="col-lg-12 footer">
                <div class="row">
                    <div class="col-lg-12 lineColorImage">
                    </div>
                </div>
                <div class="row footerBackground">
                    <div class="col-lg-12">
                        <table align="center">
                            <tr>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'OverviewMonterey','user click on montery bay national marine sanctuary on kids corner page')">
                                        <span class="footerBtnText"><span data-bind="text:languageSpecification().comman.montereryBayButtonKey"></span></span>
                                    </button>
                                </td>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'ThingToDoOverview','user click on things to do in your sancturary on kids corner page')">
                                        <span class="footerBtnText"><span data-bind="text:languageSpecification().comman.thingToDoButtonKey"></span></span>
                                    </button>
                                </td>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'WeatherOverview','user click on weather overview on kids corner page')">
                                        <span class="footerBtnText"><span data-bind="text:languageSpecification().comman.weatherButtonKey"></span></span>
                                    </button>
                                </td>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'KidsCornerOverview','user click on kids corner on kids corner page'),enable:false">
                                        <span class="footerBtnText selectedFooterBtn"><span data-bind="text:languageSpecification().comman.kidsCornerButtonKey"></span></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
