﻿<div class="row pagesBackground">
    <div class="col-lg-12">
        <div class="row overviewHeaderBackground">
            <div class="col-lg-1 marginTop1Per">
                <img src="Image/Common/Logo.png" style="height: 12vh" />
            </div>
            <div class="col-lg-9 text-center marginTop3Per">
                <span class="headerTitleText margin5perLeft" data-bind="text:languageSpecification().comman.nationalMarnieKey"></span>
            </div>
            <div class="col-lg-2 marginTop1Per">
                <img src="Image/Common/rightTopLogo.png" class="img-responsive center-block" style="height:13vh;" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 lineColorImage">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 weatherBg">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-12 height10px"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="headerSubTitleText letterSpacing5px" data-bind="text:languageSpecification().attractPage.monteryBayKey"></span>
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 height10px"></div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-12 height10px">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="col-lg-1"></div>
                <div class="col-lg-11">
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="headingText verticleAlignMiddle" data-bind="text:languageSpecification().comman.natureTitleKey"></span>
							<br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 fishingImgBakCSS">
                            <div class="row seven-cols" style="margin-top:1%;">
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <span data-bind="click:$root.getSelectedWildDetails.bind($data,$root.languageSpecification().natureDetailsPage.CaliforniaSeaLionPage.nameKey)">
                                                <img src="Image/mbnms-species/upperset1.png" class="fishingImgCSS" height="54" width="103" />
                                            </span>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <span data-bind="click:$root.getSelectedWildDetails.bind($data,$root.languageSpecification().natureDetailsPage.SouthernSeaOtterPage.nameKey)">
                                                <img src="Image/mbnms-species/upperset2.png" class="fishingImgCSS" height="54" width="103" />
                                            </span>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <span data-bind="click:$root.getSelectedWildDetails.bind($data,$root.languageSpecification().natureDetailsPage.HarborSealPage.nameKey)">
                                                <img src="Image/mbnms-species/upperset3.png" class="fishingImgCSS" height="54" width="103" />
                                            </span>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <span data-bind="click:$root.getSelectedWildDetails.bind($data,$root.languageSpecification().natureDetailsPage.HumpbackWhalePage.nameKey)">
                                                <img src="Image/mbnms-species/upperset4.png" class="fishingImgCSS" height="54" width="103" />
                                            </span>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <span data-bind="click:$root.getSelectedWildDetails.bind($data,$root.languageSpecification().natureDetailsPage.GrayWhalePage.nameKey)">
                                                <img src="Image/mbnms-species/upperset5.png" class="fishingImgCSS" height="54" width="103" />
                                            </span>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <span data-bind="click:$root.getSelectedWildDetails.bind($data,$root.languageSpecification().natureDetailsPage.KillerWhalePage.nameKey)">
                                                <img src="Image/mbnms-species/upperset6.png" class="fishingImgCSS" height="54" width="103" />
                                            </span>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <span data-bind="click:$root.getSelectedWildDetails.bind($data,$root.languageSpecification().natureDetailsPage.ElephantSealPage.nameKey)">
                                                <img src="Image/mbnms-species/upperset7.png" class="fishingImgCSS" height="54" width="103" />
                                            </span>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 fishingbackDtlsCSS">
                                    <div class="row">
                                        <div class="col-lg-12 finshingDtlsDescCSS darkBlueBackCSS wildNameTextCSS ">
                                            <span class=" font18SizeCSS" data-bind="text:languageSpecification().natureDetailsPage.nameTextKey"></span>&nbsp;<span class="font18SizeCSS" data-bind="text:$root.wildName"></span>&nbsp;<span style="color: #D9E0E4"><i data-bind="text:$root.wildSubName"></i></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-9 finshingDtlsDescCSS">
                                            <div class="row">

                                                <div class="col-lg-12">
                                                    <br />
                                                    <p data-bind="text:$root.wildDesc"></p>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-lg-5">

                                                </div>
                                                <div class="col-lg-3" style="margin-top:14%;">
                                                    <button class="closeWindowbtnCSS" data-bind="click:$root.commanSetPagefun.bind($data,'Nature','User click on close on nature details page')">
                                                        <span data-bind="text:languageSpecification().comman.closeWindowKey"></span>
                                                    </button>
                                                </div>
                                                <div class="col-lg-4">

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-3">
                                            <div class="row">
                                                <div class="col-lg-11 fishImgDivCSS">
                                                    <img data-bind="attr:{src: $root.masterwildImagePath }" style="cursor:default;" class="fishingImgCSS" />
                                                </div>
                                                <div class="col-lg-1"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row seven-cols" style="margin-bottom:1%;">
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <span data-bind="click:$root.getSelectedWildDetails.bind($data,$root.languageSpecification().natureDetailsPage.GiantKelpPage.nameKey)">
                                                <img src="Image/mbnms-species/downset1.png" class="fishingImgCSS" height="54" width="103" />
                                            </span>
                                        </div>
                                        <img src="../" />
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <span data-bind="click:$root.getSelectedWildDetails.bind($data,$root.languageSpecification().natureDetailsPage.BrownPelicanPage.nameKey)">
                                                <img src="Image/mbnms-species/downset2.png" class="fishingImgCSS" height="54" width="103" />
                                            </span>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <span data-bind="click:$root.getSelectedWildDetails.bind($data,$root.languageSpecification().natureDetailsPage.WesternGullPage.nameKey)">
                                                <img src="Image/mbnms-species/downset3.png" class="fishingImgCSS" height="54" width="103" />
                                            </span>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <span data-bind="click:$root.getSelectedWildDetails.bind($data,$root.languageSpecification().natureDetailsPage.SootyShearwaterPage.nameKey)">
                                                <img src="Image/mbnms-species/downset4.png" class="fishingImgCSS" height="54" width="103" />
                                            </span>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <span data-bind="click:$root.getSelectedWildDetails.bind($data,$root.languageSpecification().natureDetailsPage.LeatherbackTurtlePage.nameKey)">
                                                <img src="Image/mbnms-species/downset5.png" class="fishingImgCSS" height="54" width="103" />
                                            </span>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <span data-bind="click:$root.getSelectedWildDetails.bind($data,$root.languageSpecification().natureDetailsPage.MarketSquidPage.nameKey)">
                                                <img src="Image/mbnms-species/downset6.png" class="fishingImgCSS" height="54" width="103" />
                                            </span>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <span data-bind="click:$root.getSelectedWildDetails.bind($data,$root.languageSpecification().natureDetailsPage.NorthernAnchovyPage.nameKey)">
                                                <img src="Image/mbnms-species/downset7.png" class="fishingImgCSS" height="54" width="103" />
                                            </span>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-right" style="margin-top:15px;">
                <div class="row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-10 paddingLeft0 rightButtonsBorder">
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'OverviewMonterey','user click on overview on nature page')">
                                        <span data-bind="text:languageSpecification().comman.overviewKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'YourSanturary','user click on your santurary on nature page')">
                                        <span class="rightBtnText" data-bind="text:languageSpecification().rightSideButtons.yourSancturary"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'Nature','user click on nature on nature page'),enable:false">
                                        <span class="rightBtnSelectedText" data-bind="text:languageSpecification().rightSideButtons.natureKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon selectedBtnIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'photoGallery','user click on photo gallery on nature page')">
                                        <span class="rightBtnText" data-bind="text:languageSpecification().rightSideButtons.photoGalleryKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon ">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'YourNationalMaSanctOverview','user click on your national marine sanctuary on nature page')">
                                        <span class="rightBtnText" data-bind="text:languageSpecification().rightSideButtons.yourNationalMarineKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="bottomBtnBackground">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground backBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'Attract','user click on back on nature page')">
                                        <span class="rightBackBtnText" data-bind="text:languageSpecification().rightSideButtons.backBtnKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:5px;">
            <div class="col-lg-12 footer">
                <div class="row">
                    <div class="col-lg-12 lineColorImage">
                    </div>
                </div>
                <div class="row footerBackground">
                    <div class="col-lg-12">
                        <table align="center">
                            <tr>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'OverviewMonterey','user click on monterey national marine sanctuary on nature page'),enable:false">
                                        <span class="footerBtnText selectedFooterBtn"><span data-bind="text:languageSpecification().comman.montereryBayButtonKey"></span></span>
                                    </button>
                                </td>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'ThingToDoOverview','user click on things to do your sanctuary on nature page')">
                                        <span class="footerBtnText"><span data-bind="text:languageSpecification().comman.thingToDoButtonKey"></span></span>
                                    </button>
                                </td>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'WeatherOverview','user click on weather overview on nature page')">
                                        <span class="footerBtnText"><span data-bind="text:languageSpecification().comman.weatherButtonKey"></span></span>
                                    </button>
                                </td>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'KidsCornerOverview','user click on kids corner on nature page')">
                                        <span class="footerBtnText"><span data-bind="text:languageSpecification().comman.kidsCornerButtonKey"></span></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
