﻿<div class="row pagesBackground">
    <div class="col-lg-12">
        <div class="row overviewHeaderBackground">
            <div class="col-lg-1 marginTop1Per">
                <img src="Image/Common/Logo.png" style="height: 12vh" />
            </div>
            <div class="col-lg-9 text-center marginTop3Per">
                <span class="headerTitleText margin5perLeft" data-bind="text:languageSpecification().comman.nationalMarnieKey"></span>
            </div>
            <div class="col-lg-2 marginTop1Per">
                <img src="Image/Common/rightTopLogo.png" class="img-responsive center-block" style="height:13vh;" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 lineColorImage">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 weatherBg">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-12 marginTopBottom10px">
                            <span class="headerSubTitleText letterSpacing5px" data-bind="text:languageSpecification().comman.thingToDoYourSanctKey"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row marginTop25px">
            <div class="col-lg-9">
                <div class="col-lg-1"></div>
                <div class="col-lg-11">
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="headingText verticleAlignMiddle" data-bind="text:languageSpecification().rightSideButtons.windLifeGuildlineKey"></span>
                            <br />
                            <span class="descriptionText verticleAlignMiddle" data-bind="html:languageSpecification().wildlifeViewingGuildLinePage.topSecDescKey"></span>
                        </div>
                    </div>
                    <div class="row marginTop20px donotSecCss" >
                        <div class="col-lg-12 marginAllSideCss">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <img src="Image/ttdo-guidelines/ttdo-guidelines_1.png" />
                                        </div>
                                        <div class="col-lg-7">
                                            <span data-bind="text:languageSpecification().wildlifeViewingGuildLinePage.learnBeforeKey"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <img src="Image/ttdo-guidelines/ttdo-guidelines_2.png" />
                                        </div>
                                        <div class="col-lg-7">
                                            <span data-bind="text:languageSpecification().wildlifeViewingGuildLinePage.doNotFeedKey"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <img src="Image/ttdo-guidelines/ttdo-guidelines_3.png" />
                                        </div>
                                        <div class="col-lg-7">
                                            <span data-bind="text:languageSpecification().wildlifeViewingGuildLinePage.dontMixKey"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <img src="Image/ttdo-guidelines/ttdo-guidelines_4.png" />
                                        </div>
                                        <div class="col-lg-7">
                                            <span data-bind="text:languageSpecification().wildlifeViewingGuildLinePage.keepDistanceKey"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <img src="Image/ttdo-guidelines/ttdo-guidelines_5.png" />
                                        </div>
                                        <div class="col-lg-7">
                                            <span data-bind="text:languageSpecification().wildlifeViewingGuildLinePage.neverChaseKey"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <img src="Image/ttdo-guidelines/ttdo-guidelines_6.png" />
                                        </div>
                                        <div class="col-lg-7">
                                            <span data-bind="text:languageSpecification().wildlifeViewingGuildLinePage.trashRemovalKey"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <img src="Image/ttdo-guidelines/ttdo-guidelines_7.png" />
                                        </div>
                                        <div class="col-lg-7">
                                            <span data-bind="text:languageSpecification().wildlifeViewingGuildLinePage.handsOffKey"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <img src="Image/ttdo-guidelines/ttdo-guidelines_8.png" />
                                        </div>
                                        <div class="col-lg-7">
                                            <span data-bind="text:languageSpecification().wildlifeViewingGuildLinePage.stayAwayKey"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <img src="Image/ttdo-guidelines/ttdo-guidelines_9.png" />
                                        </div>
                                        <div class="col-lg-7">
                                            <span data-bind="text:languageSpecification().wildlifeViewingGuildLinePage.helpOtherKey"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row marginTop20px">
                        <div class="col-lg-12">
                            <span class="descriptionText verticleAlignMiddle" data-bind="html:languageSpecification().wildlifeViewingGuildLinePage.bottomSecDescKey"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-right">
                <div class="row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-10 paddingLeft0 rightButtonsBorder">
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'ThingToDoOverview','user click on overview on wildlife viewing guildline page')">
                                        <span data-bind="text:languageSpecification().comman.overviewKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon ">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'SanctuaryExploCen','user click on sanctuary exploration center on wildlife viewing guildline page')">
                                        <span data-bind="text:languageSpecification().rightSideButtons.santuaryExpoCenterKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'Recreation','user click on recreation on wildlife viewing guildline page')">
                                        <span data-bind="text:languageSpecification().rightSideButtons.recreationKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'WildLifeView','user click on wildlife viewing on wildlife viewing guildline page')">
                                        <span data-bind="text:languageSpecification().rightSideButtons.wildLifeViewKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon ">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'WildLifeViewGuildLine','user click on wildlife viewing guildline on wildlife viewing guildline page'),enable:false">
                                        <span class="rightBtnSelectedText" data-bind="text:languageSpecification().rightSideButtons.windLifeGuildlineKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon selectedBtnIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'SanctuaryVisitorCen','user click on sanctuary visitor centers on wildlife viewing guildline page')">
                                        <span data-bind="text:languageSpecification().rightSideButtons.sanctuaryVisitorCenterKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="bottomBtnBackground">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground backBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'Attract','user click on back on wildlife viewing guildline page')">
                                        <span class="rightBackBtnText" data-bind="text:languageSpecification().rightSideButtons.backBtnKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:5px;">
            <div class="col-lg-12 footer">
                <div class="row">
                    <div class="col-lg-12 lineColorImage">
                    </div>
                </div>
                <div class="row footerBackground">
                    <div class="col-lg-12">
                        <table align="center">
                            <tr>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'OverviewMonterey','user click on monterey bay national marine sanctuary on wildlife viewing guildline page')">
                                        <span class="footerBtnText"><span data-bind="text:languageSpecification().comman.montereryBayButtonKey"></span></span>
                                    </button>
                                </td>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'ThingToDoOverview','user click on things to do your sanctuary on wildlife viewing guildline page'),enable:false">
                                        <span class="footerBtnText selectedFooterBtn"><span data-bind="text:languageSpecification().comman.thingToDoButtonKey"></span></span>
                                    </button>
                                </td>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'WeatherOverview','user click on weather overview on wildlife viewing guildline page')">
                                        <span class="footerBtnText"><span data-bind="text:languageSpecification().comman.weatherButtonKey"></span></span>
                                    </button>
                                </td>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'KidsCornerOverview','user click on kids corner on wildlife viewing guildline page')">
                                        <span class="footerBtnText"><span data-bind="text:languageSpecification().comman.kidsCornerButtonKey"></span></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
