﻿<div class="row pagesBackground">
    <div class="col-lg-12">
        <div class="row overviewHeaderBackground">
            <div class="col-lg-1 marginTop1Per">
                <img src="Image/Common/Logo.png" style="height: 12vh" />
            </div>
            <div class="col-lg-9 text-center marginTop3Per">
                <span class="headerTitleText margin5perLeft" data-bind="text:languageSpecification().comman.nationalMarnieKey"></span>
            </div>
            <div class="col-lg-2 marginTop1Per">
                <img src="Image/Common/rightTopLogo.png" class="img-responsive center-block" style="height:13vh;" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 lineColorImage">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 weatherBg">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-12 marginTopBottom10px">
                            <span class="headerSubTitleText letterSpacing5px" data-bind="text:languageSpecification().comman.urNationalMarineSanctKey"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row marginTop25px">
            <div class="col-lg-9">
                <div class="col-lg-1"></div>
                <div class="col-lg-11">
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="headingText verticleAlignMiddle" data-bind="text:languageSpecification().yourNationalMarineSanctOverviewPage.discriptionTitleKey"></span>
                            <br />
                        </div>
                    </div>
                    <div class="col-lg-12 paddingLeftRight0">
                        <div class="video overviewVideoDiv">
                            <p class="text-center singleVideoCss" style="" data-bind="text:languageSpecification().yourNationalMarineSanctOverviewPage.tourNatMarnineSanctKey"></p>
                            <video id="videoGallery" src="VideoGallery/yournms.mp4" class="overviewVideo">
                                <source id="src1" type="video/mov" />
                            </video>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" style="margin-top:3%;">
                            <span class="descriptionText verticleAlignMiddle" data-bind="html:languageSpecification().yourNationalMarineSanctOverviewPage.discriptionKey"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-right">
                <div class="row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-10 paddingLeft0 rightButtonsBorder">
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'YourNationalMaSanctOverview','user click on overview on your national marine sanctuary overview page'),enable:false">
                                        <span class="rightBtnSelectedText" data-bind="text:languageSpecification().comman.overviewKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon selectedBtnIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'VisitingYourSanctuary','user click on visiting your sanctuaries on your national marine sanctuary overview page')">
                                        <span class="" data-bind="text:languageSpecification().rightSideButtons.visitingYourSanctuaryKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'MaritimeHeritage','user click on maritime heritage on your national marine sanctuary overview page')">
                                        <span class="" data-bind="text:languageSpecification().rightSideButtons.maritimeHeritageKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'GetInvolved','user click on get involved on your national marine sanctuary overview page')">
                                        <span class="rightBtnText" data-bind="text:languageSpecification().rightSideButtons.getInvolvedKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon ">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'VideoGallery','user click on video gallery on your national marine sanctuary overview page')">
                                        <span class="rightBtnText" data-bind="text:languageSpecification().rightSideButtons.videoGalleryKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click: playExternalLink.bind($data,commanUrlText().visitSite)">
                                        <span data-bind="text:languageSpecification().rightSideButtons.visiteSiteKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="bottomBtnBackground">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground backBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'OverviewMonterey','user click on back on your national marine sanctuary overview page')">
                                        <span class="rightBackBtnText" data-bind="text:languageSpecification().rightSideButtons.backBtnKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:5px;">
            <div class="col-lg-12 footer">
                <div class="row">
                    <div class="col-lg-12 lineColorImage">
                    </div>
                </div>
                <div class="row footerBackground">
                    <div class="col-lg-12">
                        <table align="center">
                            <tr>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'OverviewMonterey','user click on montery bay national marine sanctuary on your national marine sanctuary overview page'),enable:false">
                                        <span class="footerBtnText selectedFooterBtn"><span data-bind="text:languageSpecification().comman.montereryBayButtonKey"></span></span>
                                    </button>
                                </td>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'ThingToDoOverview','user click on things to do your sanctuary on your national marine sanctuary overview page')">
                                        <span class="footerBtnText"><span data-bind="text:languageSpecification().comman.thingToDoButtonKey"></span></span>
                                    </button>
                                </td>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'WeatherOverview','user click on weather overview on your national marine sanctuary overview page')">
                                        <span class="footerBtnText"><span data-bind="text:languageSpecification().comman.weatherButtonKey"></span></span>
                                    </button>
                                </td>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'KidsCornerOverview','user click on kids corner on your national marine sanctuary overview page')">
                                        <span class="footerBtnText"><span data-bind="text:languageSpecification().comman.kidsCornerButtonKey"></span></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
