﻿html, body {
    background-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: -moz-scrollbars-vertical;
    overflow-x: hidden;
    overflow-y: hidden;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.popover {
    background: rgba(178, 178, 178, 0.6);
    border: none;
    max-width: 100% !important;
    border-radius: 10px;
    padding-top: 0px;
}

@media screen and (min-width: 700px) {
    .popover {
        background: rgba(178, 178, 178, 0.6);
        border: none;
        max-width: 1000px !important;
        border-radius: 10px;
        padding-top: 0px;
    }
}

.popover-content {
    padding: 0px 0px 0px 0px !important;
}

button:focus {
    outline: none !important;
}

.attractPageBackground {
    width: auto;
    min-height: 1023px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: url('../Image/attract/bg.png');
}


.headerTitleText {
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 0px;
    font-family: myWebFont;
    color: white;
}


.marginTop1Per {
    margin-top: 1%;
}

.marginTop3Per {
    margin-top: 3%;
}

.marginLeft2per {
    margin-left: 2%;
}

.margin5perLeft {
    margin-left: 7%;
}

.singleVideoCss {
    padding-top: 2%;
    font-weight: bolder;
}

.visitSiteCss {
    background: url('../Image/mbnms-involved/visit.png');
    width: 28%;
    border-radius: 10px;
    color: white !important;
    font-size: 18px;
    padding-top: 5px;
    font-family: 'Gillsans', sans-serif;
}

.mrVisitCss {
    margin-top: 2%;
    width: 20.5% !important;
}

.headerBackground {
    background-image: url('../Image/Common/home_page_header_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 1%;
}

.padding20px {
    padding-left: 20px !important;
}

.height10px {
    min-height: 10px;
}



.marginTop20px {
    margin-top: 20px;
}

.marginTop25px {
    margin-top: 25px;
}


.marginBottom10px {
    margin-bottom: 10px;
}

.marginTop40px {
    margin-top: 40px;
}

.marginTop60px {
    margin-top: 60px;
}

.marginTop16per {
    margin-top: 16%;
}

.marginTopBottom10px {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagesBackground {
    background-image: url('../Image/Common/bg.png');
    background-size: 100vh 100%;
    height: 100vh;
}

.weatherHeader {
    background-image: url('../Image/Weather/WeatherHeader.png') !important;
}

.overviewHeaderBackground {
    background-image: url('../Image/Common/top_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.headerSubTitleText {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 10px;
    font-family: myWebFont;
    color: white;
}

.weatherHeadingCss {
    letter-spacing: 10px !important;
}

.letterSpacing5px {
    letter-spacing: 0px;
    font-size: 27px;
    font-weight: bold;
}

.letterSpacing2px {
    letter-spacing: 2px;
}

.lineColorImage {
    background-image: url('../Image/Common/top_header_color.png');
    min-height: 9px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.weatherBg {
    background-image: url('../Image/Common/weather_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: table;
}

.footerBackground {
    background-image: url('../Image/Common/home_page_footer_bg.png');
    min-height: 50px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.attractPageBtnBackground {
    background-image: url('../Image/Common/home_page_btn_bg.png');
    margin-top: 5px;
    min-height: 60px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    width: 52%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    text-align: right;
    padding-right: 20px;
    background-color: transparent;
}

.attractPageBtnText {
    font-size: 20px;
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
    font-family: 'Gillsans', sans-serif;
}

.attractPageBtnBottom {
    border-radius: 10px;
    background-color: transparent;
}

.attarctPageBottomText {
    margin-left: 10%;
    font-weight: 100;
    font-style: italic;
    font-family: -webkit-body;
}

.attarctPageBtnCrdeitsText {
    font-weight: 100;
    font-size: 20px;
}

.paddingLeftRight0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.paddingLeft0 {
    padding-left: 0px !important;
}

.verticleAlignMiddle {
    vertical-align: middle;
    display: table-cell;
}

.fishingImgCSS {
    cursor: pointer;
}


.descriptionText {
    color: #1B4B78;
    font-size: 18px;
    font-weight: lighter;
    padding-top: 5px;
    font-family: 'Gillsans', sans-serif;
}

.overViewImageCenter {
    margin-left: 2%;
    float: left;
    width: 30%;
    height: 500px;
}

.rightButtonDiv {
    background-image: url('../Image/Common/btn_normal.png');
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: table;
}

.bottomBtnBackground {
    background-image: url('../Image/Common/btn_bottom_line.png');
    min-height: 5px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    background-color: transparent;
}

.footerBtnBackground {
    background-image: url('../Image/Common/home_page_btn_bg.png');
    margin-top: 5px;
    height: 70px;
    width: 260px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-style: solid;
    border-width: 4px;
    border-bottom: none;
    border-color: #133C56;
    border-radius: 10px;
    background-color: transparent;
    padding-bottom: 8px;
}

.footerBtnText {
    /*18.25px;*/
    font-size: 16.25px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 2px;
    font-family: 'Gillsans', sans-serif;
}

.rightButtonsBorder {
    border: 5px solid;
    border-right: none;
    border-color: #A1C2CD;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.rightBtnSelectedText {
    font-size: 14px !important;
    color: #F7F8FA !important;
}

.rightBackBtnText {
    font-size: 28px;
    color: #B7713D;
}

.rightBtnBackground {
    background-image: url('../Image/Common/right_btn.png');
    margin-left: 2%;
    min-height: 60px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    width: 98%;
    background-color: transparent;
    font-size: 14px;
    color: #0E3E6D;
}

.backBtnBackground {
    background-image: url('../Image/Common/back_btn.png');
}

.normalIcon {
    background-image: url('../Image/Common/btn_normal.png');
    margin-top: 5px;
    min-height: 50px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    width: 24%;
    margin-left: -16%;
}

.selectedBtnIcon {
    background-image: url('../Image/Common/btnselectbg.png');
}

.rightBtnDiv {
    float: right;
    width: 100%;
    font-family: myWebFont;
}

.footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
}

.height485px {
    height: 485px;
}

.height350px {
    height: 350px !important;
}

.centerImage1ScincePage {
    width: 40%;
}

.centerImage2ScincePage {
    width: 20%;
    min-height: 420px;
    max-height: 420px;
}

.centerImageHeight420px {
    min-height: 420px;
    height: 420px;
    max-height: 420px;
}

.centerImg1Width45 {
    width: 45%;
}

.centerImg2Width45 {
    margin-left: 2%;
    width: 45%;
}

.centerImageHeight300px {
    min-height: 300px;
    height: 300px;
    max-height: 300px;
}

.selectedFooterBtn {
    color: #A2B9C6;
}

.fisheriesCenterImg2 {
    border-color: white !important;
    width: 100%;
    border-radius: 20px;
    border: 2px solid;
}

.marginRight2per {
    margin-right: 2%;
}


@media (min-width: 768px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 100%;
        *width: 100%;
    }
}

@media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}

@media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}

.fishingImgBakCSS {
    border-radius: 10px;
    background-color: #C8DEE9;
}

.andCSS {
    font: italic 39px GillSans !important;
    text-transform: lowercase;
}

.fishingTitleCSS {
    font-size: 65px;
    font-family: myWebFont;
    padding-left: 5%;
    color: #3C6A8C;
}

.finshingDescCSS {
    font-size: 20px;
    color: #3C6A8C;
    font-family: 'Gillsans', sans-serif;
}

.fishingbackDtlsCSS {
    background-color: #003C61;
    height: 45.5vh;
    margin: 2% 2% 2% 2%;
    width: 97%;
    border-radius: 10px;
}

.finshingDtlsDescCSS {
    color: white;
    font-size: 17px;
    font-family: 'Gillsans', sans-serif;
}

.darkBlueBackCSS {
    background-color: #003050;
}

.closeWindowbtnCSS {
    border: 2px solid;
    border-color: white;
    border-radius: 10px;
    background-color: #003C61;
    font-size: 18px;
    top: 70%;
    position: fixed;
    height: 55px;
    width: 120px;
}

.wildNameTextCSS {
    margin: 1% 0% 0% 1%;
    width: 96.9%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

.fishImgDivCSS {
    height: 38vh;
    background-color: #003050;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@font-face {
    font-family: myWebFont;
    src: url(../Font/TrajanPro-Regular.ttf);
}

.fishWatchCSS {
    float: right;
    height: 70px;
    width: 174px;
    margin-bottom: 2%;
}

.overviewImgarea {
    width: 100%;
}

.bottomimgarea {
    height: 120px;
    width: 100%;
}

.bottomtextarea {
    border-color: white !important;
    border-radius: 15px;
    border: 3px solid;
    background-color: #C8E3EE;
    height: 80px;
    width: 184px;
    margin-left: 14px;
}

.bottomText {
    font-weight: bolder;
    display: table;
    color: #023567;
    text-align: center;
    margin-top: 20px;
}

.footertextarea {
    position: fixed;
    bottom: 10px;
    width: 855px;
}

.middleheaderText {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.middleheadingText {
    font-weight: 600;
    font-size: 18px;
    display: table;
    color: #053869;
}

.subDescriptionText {
    font-size: 18px;
    display: table;
    color: white;
    margin-left: 10px;
}


.pickMovieDiv {
    height: 330px;
    border-style: solid;
    border-color: #A1C2CD;
    border-radius: 5px;
    background-color: black;
    border-left-width: 9px;
    border-width: 26px 9px 9px 9px;
    font-size: 35px;
    color: white;
    font-weight: bold;
}



.vodeosHeadingText {
    background-color: white;
    font-size: 13px;
    height: 25px;
    border-radius: 5px;
    color: #2E567F;
    font-weight: bold;
    line-height: 25px;
}

.videosDiv {
    background-image: url('../Image/Common/Lighthouse.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: table;
    border-color: red;
    border-radius: 20px;
    border-width: 5px;
    margin-bottom: 10px;
    height: 190px;
    width: 100%;
}

.videoRightTxt {
    font-size: 18px;
    color: #2E567F;
    margin-top: 3%;
}

.pickSelectedMovieDiv {
    height: 418px;
    border-style: solid;
    background-color: #B4D3E1;
    border-radius: 5px;
    font-size: 35px;
    color: white;
    font-weight: bold;
    width: 100%;
}

.btn-next {
    min-width: 180PX;
    background-color: #396C90;
    color: white;
    font-size: 20px;
    border: solid;
    border-color: white;
    font-weight: bold;
    border-radius: 22px;
    margin-left: 167px;
    position: fixed;
    top: 75%;
    font-family: myWebFont;
}

    .btn-next:hover {
        color: white !important;
    }

.bottomLogo {
    background-color: blue;
    height: 80px;
    width: 299px;
    float: right;
    margin-top: -35px;
}

.headingText {
    font-weight: 600;
    font-size: 23px;
    display: table;
    color: #023567;
    font-family: myWebFont;
}

.descText {
    font-size: 22px;
    color: #1B4B78;
}

.photoGalleryHeadingText {
    font-size: 20px;
    font-weight: bold;
    color: #083A6C;
}

.photoSubHeadingText {
    font-size: 15px;
    font-weight: bold;
    font-family: myWebFont;
    color: #436F94;
}

.photoGalleryPageMainheadingText {
    font-weight: 600;
    font-size: 26px;
    display: table;
    color: #1A4B78;
    font-family: myWebFont;
}

.vAlignMiddle {
    vertical-align: middle;
}

.videoImg {
    width: 100%;
    cursor: pointer;
}

.activityLabel1 {
    background-color: white;
    border-radius: 10px;
    height: 42px;
    width: 52%;
    margin-left: 68px;
}

.activityLabel2 {
    background-color: white;
    border-radius: 10px;
    height: 42px;
    width: 52%;
    margin-left: 68px;
    display: flex;
    justify-content: center;
}

.activityLabel3And4 {
    background-color: white;
    border-radius: 10px;
    height: 42px;
    width: 52%;
    margin-left: 68px;
    line-height: 40px;
}

.fishActivityImg {
    width: 53%;
}

.backButtonArrow {
    margin-top: 5px;
    min-height: 50px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    width: 24%;
    margin-left: -25%;
}

.arrowSize {
    font-size: 45px;
    color: #E9CFA3;
}

.kidsCornerContentDivBorder {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin-top: 2%;
    border-radius: 9px;
}

.font18SizeCSS {
    font-size: 18px;
    color: white;
    font-family: sans-serif;
}

.fontSize26px {
    font-size: 26px;
    font-weight: 600;
}

.word::first-letter {
    font-size: 150%;
}

.setModalDialog {
    width: 70%;
    margin-top: 22%;
}

.setPopupBorder {
    border-radius: 15px;
}

.popupHeading {
    background-image: url('../Image/Common/popupHeader.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 35px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.popupmainHeadingText {
    color: #696969;
    font-size: 35px;
}

.continueButton {
    width: 250px;
    height: 90px;
    background-color: #1F4A74;
    border: solid;
    border-width: 1px;
    border-bottom: none;
    border-color: #1F4A74;
    border-radius: 60px;
    font-size: 35px;
}

.numberTextCSS {
    font-size: 32px;
    font-weight: bold;
    color: white;
    height: 54px;
    width: 103px;
}

.disabledCSS {
    cursor: default !important;
}

.linkBtnBackground {
    background-image: url('../Image/Common/btn.png');
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: white;
    padding: 1% 8% 1% 4%;
    font-family: myWebFont;
}

.fontSize27px {
    font-size: 27px;
    font-weight: bold;
}

.fontSize23px {
    font-size: 23px;
}

.marginTop25px {
    margin-top: 25px;
}

.closeIcon {
    position: absolute;
    top: -45px;
    cursor: pointer;
    height: 48px;
    width: 48px;
    background-image: url('../Image/Common/closeIcon.png');
    opacity: 1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    right: -39px;
    border-radius: 45px;
}

#areYouTherePopup {
    z-index: 1500 !important;
}

.setExternalLinkPopupBorder {
    border: 15px solid rgba(255,255,255,.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

@media (min-width: 768px) {
    .eight-cols .col-md-1,
    .eight-cols .col-sm-1,
    .eight-cols .col-lg-1 {
        width: 100%;
        *width: 100%;
    }
}

@media (min-width: 992px) {
    .eight-cols .col-md-1,
    .eight-cols .col-sm-1,
    .eight-cols .col-lg-1 {
        width: 12.5%;
        *width: 12.5%;
    }
}

@media (min-width: 1200px) {
    .eight-cols .col-md-1,
    .eight-cols .col-sm-1,
    .eight-cols .col-lg-1 {
        width: 12.5%;
        *width: 12.5%;
    }
}

.aboutSanNumbersDiv {
    background-color: #013B64;
    color: white;
    height: 42vh;
    margin-top: 1%;
    border-radius: 10px;
    width: 98%;
    margin-left: 2%;
}

.contentTable {
    width: 100%;
    margin-left: 11%;
    border-spacing: 10px;
    border-collapse: separate;
    font-family: 'Gillsans', sans-serif;
}

.aboutUrSanMainHeading {
    font-size: 18px;
    font-weight: bold;
}

.aboutUrSanSubHeading {
    font-size: 16px;
}

.abutUrSanDescText {
    font-size: 16px;
    margin-top: 1%;
    width: 80%;
    margin-left: 10%;
    text-align: left;
    font-family: 'Gillsans', sans-serif;
}

.setIntroImageOnAbtUrSanPage {
    height: 42vh;
    margin-top: 1%;
    border-radius: 10px;
    width: 100%;
}

.aboutYourBackground {
    background-image: url('../Image/visitingYourSanctuary/box.png');
    min-height: 54px;
    width: 87px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    background-color: transparent;
    font-size: 36px;
    font-weight: bold;
    color: white;
    font-family: myWebFont;
}

.video {
    margin: 0;
    padding: 0;
}

.donotSecCss {
    background-color: white;
    border-radius: 10px;
    color: #2BA3BD;
    font-weight: bold;
    box-shadow: 2px 2px 2px #888888;
}

.marginAllSideCss {
    margin: 5px 5px 5px 5px;
}

.overviewVideoDiv {
    border-color: #A1C2CD;
    border-radius: 5px;
    border-left-width: 9px;
    background-color: #A1C2CD;
    width: 75%;
    color: #0E3E6D;
    font-weight: bold;
}

.overviewVideo {
    width: 100%;
    border-style: solid;
    border-color: #A1C2CD;
    border-width: 0px 9px 9px 9px;
}
