﻿<div class="row pagesBackground">
    <div class="col-lg-12">
        <div class="row overviewHeaderBackground">
            <div class="col-lg-1 marginTop1Per">
                <img src="Image/Common/Logo.png" style="height: 12vh" />
            </div>
            <div class="col-lg-9 text-center marginTop3Per">
                <span class="headerTitleText margin5perLeft" data-bind="text:languageSpecification().comman.nationalMarnieKey"></span>
            </div>
            <div class="col-lg-2 marginTop1Per">
                <img src="Image/Common/rightTopLogo.png" class="img-responsive center-block" style="height:13vh;" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 lineColorImage">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 weatherBg">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-12 height10px"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="headerSubTitleText letterSpacing5px" data-bind="text:languageSpecification().comman.urNationalMarineSanctKey"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 height10px"></div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row marginTop25px">
            <div class="col-lg-9">
                <div class="col-lg-1"></div>
                <div class="col-lg-11">
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="headingText verticleAlignMiddle" data-bind="text:languageSpecification().rightSideButtons.videoGalleryKey"></span>
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-8">
                                    <!--ko if:(selectedVideo()!="")-->
                                    <div class="video">
                                        <video id="videoGallery"  data-bind="attr:{src: selectedVideo()}" class="pickMovieDiv" style="width: 100%;">
                                            <source id="src1" type="video/mov" />
                                        </video>
                                    </div>
                                    <!--/ko-->
                                    <!--ko if:(selectedVideo()=="")-->
                                    <div class="pickMovieDiv" style="width: 100%; height:335px;">
                                        <div style=" height:300px; border-style: solid; padding-top: 16%; opacity: 0.6; text-align:center;">
                                            PICK A MOVIE<br /> TO WATCH FROM BELOW
                                        </div>
                                    </div>
                                    <!--/ko-->
                                </div>
                                <div class="col-lg-4 videoRightTxt">
                                    <span data-bind="text:languageSpecification().videoGalleryPage.descriptionKey"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5%;">
                        <div class="col-lg-12">
                            <span class="headingText verticleAlignMiddle" data-bind="text:languageSpecification().videoGalleryPage.videoKey"></span>
                        </div>
                    </div>
                    <div class="row" style="margin-top:1%;">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3 text-center">
                                    <div class="vodeosHeadingText">
                                        <span class="vAlignMiddle" data-bind="text:languageSpecification().videoGalleryPage.thankOceanKey"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 text-center">
                                    <div class="vodeosHeadingText">
                                        <span class="vAlignMiddle" data-bind="text:languageSpecification().videoGalleryPage.SanctuarySamKey"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 text-center">
                                    <div class="vodeosHeadingText">
                                        <span class="vAlignMiddle" data-bind="text:languageSpecification().videoGalleryPage.NatlMarineSanctKey"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 text-center">
                                    <div class="vodeosHeadingText">
                                        <span data-bind="text:languageSpecification().videoGalleryPage.visualJourneyKey"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:1%;">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3">
                                    <img src="Image/VideoGallery/nms-video_1.png" class="videoImg" cursor:pointer" data-bind="click: playSelectedVideo.bind($data,'VideoGallery/thankyouocean.mov')" />
                                </div>
                                <div class="col-lg-3 text-center">
                                    <img src="Image/VideoGallery/nms-video_2.png" class="videoImg" data-bind="click: playSelectedVideo.bind($data,'VideoGallery/samtrash.mov')" />
                                </div>
                                <div class="col-lg-3 text-center">
                                    <img src="Image/VideoGallery/nms-video_3.png" class="videoImg" data-bind="click: playSelectedVideo.bind($data,'VideoGallery/yournms.mp4')" />
                                </div>
                                <div class="col-lg-3 text-center">
                                    <img src="Image/VideoGallery/nms-video_4.png" class="videoImg" data-bind="click: playSelectedVideo.bind($data,'VideoGallery/visualjourney.mp4')" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-right">
                <div class="row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-10 paddingLeft0 rightButtonsBorder">
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'YourNationalMaSanctOverview','user click on overview on video gallery page')">
                                        <span data-bind="text:languageSpecification().comman.overviewKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'VisitingYourSanctuary','user click on visiting your santurary on video gallery page')">
                                        <span class="rightBtnText" data-bind="text:languageSpecification().rightSideButtons.visitingYourSanctuaryKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'MaritimeHeritage','user click on maritime heritage on video gallery page')">
                                        <span data-bind="text:languageSpecification().rightSideButtons.maritimeHeritageKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'GetInvolved','user click on get involved on video gallery page')">
                                        <span class="rightBtnText" data-bind="text:languageSpecification().rightSideButtons.getInvolvedKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon ">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'VideoGallery','user click on video gallery on video gallery page'),enable:false">
                                        <span class="rightBtnSelectedText" data-bind="text:languageSpecification().rightSideButtons.videoGalleryKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon selectedBtnIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click: playExternalLink.bind($data,commanUrlText().visitSite)">
                                        <span data-bind="text:languageSpecification().rightSideButtons.visiteSiteKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="bottomBtnBackground">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground backBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'OverviewMonterey','user click on back on video gallery page')">
                                        <span class="rightBackBtnText" data-bind="text:languageSpecification().rightSideButtons.backBtnKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:5px;">
            <div class="col-lg-12 footer">
                <div class="row">
                    <div class="col-lg-12 lineColorImage">
                    </div>
                </div>
                <div class="row footerBackground">
                    <div class="col-lg-12">
                        <table align="center">
                            <tr>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'OverviewMonterey','user click on montery bay national marine sanctuary on video gallery page'),enable:false">
                                        <span class="footerBtnText selectedFooterBtn"><span data-bind="text:languageSpecification().comman.montereryBayButtonKey"></span></span>
                                    </button>
                                </td>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'ThingToDoOverview','user click on things to do your sanctuary on video gallery page')">
                                        <span class="footerBtnText"><span data-bind="text:languageSpecification().comman.thingToDoButtonKey"></span></span>
                                    </button>
                                </td>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'WeatherOverview','user click on weather overview on video gallery page')">
                                        <span class="footerBtnText"><span data-bind="text:languageSpecification().comman.weatherButtonKey"></span></span>
                                    </button>
                                </td>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'KidsCornerOverview','user click on kids corner on video gallery page')">
                                        <span class="footerBtnText"><span data-bind="text:languageSpecification().comman.kidsCornerButtonKey"></span></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
