﻿<div id="weatherOverviewPageDiv" class="row pagesBackground">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12 overviewHeaderBackground text-center">
                <div class="col-lg-1">
                    <div class="row">
                        <div class="col-lg-12 height10px">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="Image/Common/Logo.png" style="height:10vh;" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-10 text-center" style="margin-top:2%">
                    <div>
                        <span class="headerTitleText weatherHeadingCss" data-bind="text:languageSpecification().comman.noaaKey"></span>
                    </div>
                    <div>
                        <span class="headerSubTitleText" data-bind="text:languageSpecification().comman.nationalWeatherSerKey"></span>
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="row">
                        <div class="col-lg-12 height10px">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="Image/Common/logoRight.png" style="height:10vh;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 lineColorImage">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 weatherBg">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-12 height10px"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="headerSubTitleText letterSpacing5px" data-bind="text:languageSpecification().comman.weatherKey"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 height10px"></div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row marginTop25px">
            <div class="col-lg-9">
                <div class="col-lg-1"></div>
                <div class="col-lg-11">
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="headingText verticleAlignMiddle" data-bind="text:languageSpecification().comman.overviewKey"></span>
                            <br />
                            <span class="descriptionText verticleAlignMiddle" data-bind="text:languageSpecification().weatherOverviewPage.discriptionKey"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 height10px"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 height10px"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 height10px"></div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 paddingLeftRight0" style="min-height:455px; max-height:455px;">
                            <div class="col-lg-12">
                                <img src="Image/Weather/weather-overview.png" class="overviewImgarea" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-right">
                <div class="row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-10 paddingLeft0 rightButtonsBorder">
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'WeatherOverview','user click overview on weather overview page'),enable:false">
                                        <span class="rightBtnSelectedText" data-bind="text:languageSpecification().comman.overviewKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon selectedBtnIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0" id="divCurrentCondition">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.getSelectedWeatherPage.bind($data,languageSpecification().rightSideButtons.currentConditionBtnKey)">
                                        <span data-bind="text:languageSpecification().rightSideButtons.currentConditionBtnKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0" id="divForcastWarning">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.getSelectedWeatherPage.bind($data,languageSpecification().rightSideButtons.forecastsAndwarningsBtnKey)">
                                        <span data-bind="text:languageSpecification().rightSideButtons.forecastsAndwarningsBtnKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0" id="divsurfWindsTides">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.getSelectedWeatherPage.bind($data,languageSpecification().rightSideButtons.surfWindsTidesBtnKey)">
                                        <span data-bind="text:languageSpecification().rightSideButtons.surfWindsTidesBtnKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0" id="divRadar">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.getSelectedWeatherPage.bind($data,languageSpecification().rightSideButtons.radarStateliteBtnKey)">
                                        <span data-bind="text:languageSpecification().rightSideButtons.radarStateliteBtnKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0" id="divextremeWeather">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.getSelectedWeatherPage.bind($data,languageSpecification().rightSideButtons.extremeWeatherBtnKey)">
                                        <span data-bind="text:languageSpecification().rightSideButtons.extremeWeatherBtnKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0" id="divclimateChange">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground" data-bind="click:$root.getSelectedWeatherPage.bind($data,languageSpecification().rightSideButtons.climateChangeBtnKey)">
                                        <span data-bind="text:languageSpecification().rightSideButtons.climateChangeBtnKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon ">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="bottomBtnBackground">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 paddingLeftRight0">
                                <div class="rightBtnDiv">
                                    <button class="rightBtnBackground backBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'Attract','user click on back on weather overview page')">
                                        <span class="rightBackBtnText" data-bind="text:languageSpecification().rightSideButtons.backBtnKey"></span>
                                    </button>
                                </div>
                                <div class="normalIcon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 height10px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:5px;">
            <div class="col-lg-12 footer">
                <div class="row">
                    <div class="col-lg-12 lineColorImage">
                    </div>
                </div>
                <div class="row footerBackground">
                    <div class="col-lg-12">
                        <table align="center">
                            <tr>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'OverviewMonterey','user click on monterey bay national marine sanctuary on weather overview page')">
                                        <span class="footerBtnText"><span data-bind="text:languageSpecification().comman.montereryBayButtonKey"></span></span>
                                    </button>
                                </td>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'ThingToDoOverview','user click on noaa weather on weather overview page')">
                                        <span class="footerBtnText "><span data-bind="text:languageSpecification().comman.thingToDoButtonKey"></span></span>
                                    </button>
                                </td>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'WeatherOverview','user click on weather overview on weather overview page'),enable:false">
                                        <span class="footerBtnText selectedFooterBtn"><span data-bind="text:languageSpecification().comman.weatherButtonKey"></span></span>
                                    </button>
                                </td>
                                <td class="padding20px">
                                    <button class="footerBtnBackground" data-bind="click:$root.commanSetPagefun.bind($data,'KidsCornerOverview','user click on kids corner on weather overview page')">
                                        <span class="footerBtnText"><span data-bind="text:languageSpecification().comman.kidsCornerButtonKey"></span></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
